/data.json
/look_up.csv
/parent_item_data_female_21-02-2018.json
/parent_item_data_male_21-02-2018.json
/men_inventory_category_correlation_matrix.csv
/user_event_data_21-02-2018.json
/women_inventory_category_correlation_matrix.csv
/filter_event_v2-Copy1.ipynb
/user_events.json
